@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* font-family: 'Prata', serif; */

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
  background-color: #F0EAE0;
  margin: 0;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: absolute;
  top: -3.4722vw;
  z-index: -10;
  /* width: 80%; */
}

.imgGroup {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px 4.1667vw;
}

.blackdot img {
  position: absolute;
  width: 10.2083vw;
}

.blackdot :first-child {
  bottom: -7vw;
  right: 4vw;
}

.blackdot :last-child {
  top: -1.8vw;
  left: -1.8vw;
}

.whitedot img {
  position: absolute;
  width: 6.5972vw;
}

.whitedot :first-child {
  bottom: -0.1vw;
  right: 1vw;
}

#oval {
  position: absolute;
  top: -2vw;
  left: 2vw;
  width: 25.5917vw;
  height: 40.5389vw;
  border: 0.2083vw solid #333333;
  border-radius: 100%;
  transform: rotate(-30deg)
}

.profileImg {
  width: 30.6667vw;
}

.aboutT {
  font-family: 'Prata', serif;
  width: 40%;
  display: inline;
  position: relative;
  margin: 0vw 4.1667vw;

}

.name {
  font-size: 4.5139vw;
  line-height: 4.2778vw;
  font-weight: lighter;

}

.nick {
  font-size: 2.7778vw;
  font-weight: lighter;
  font-family: 'Assistant', sans-serif;
  letter-spacing: 0.1389vw;
}

.bir {
  font-size: 2.4306vw;
  font-weight: lighter;
  font-family: 'Assistant', sans-serif;
  letter-spacing: 1px;
}

.etc {
  font-size: 1.7361vw;
  line-height: 1.3889vw;
  font-weight: lighter;
  font-family: 'Assistant', sans-serif;
}

.can {
  position: absolute;
  bottom: 2.0833vw;
  font-family: 'Assistant', sans-serif;
  font-size: 1.3889vw;
}